# Entornos virtuales de Python
.venv/
venv/
env/
ENV/

# Archivos de dependencias instaladas
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de bases de datos locales
db.sqlite3

# Node modules (si usas Node.js/React)
node_modules/