.custom-toast-success {
  background: #22c55e !important; /* verde tailwind-500 */
  color: #fff !important;
  border-left: 6px solid #fff !important;
  box-shadow: 0 2px 12px 0 rgba(34,197,94,0.12);
}

.custom-toast-success .Toastify__progress-bar {
  background: #fff !important;
}
